.input-container{
    margin-top: 10px;
    position: relative;
    width: fit-content;
    
}
.label{
    display: block;
    margin-bottom: 5px;
}
.eye-icon{
    position: absolute;
    right: 2px;
    cursor: pointer;
    bottom: 2px;
}

.show{
    display: block;
}

.hidden{
    display: none;
}