#switch-custom{
    background: #777777;
    width: 70px;
    border-radius: 20px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    cursor: pointer;
    position: relative;
}

#switch-custom::before{
    position: absolute;
    content: '';
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: white;
    left: 6px;

    transition: all .3s linear;
}

.icon{
    position: relative;
    z-index: 2;
}

#switch-custom.checked::before{
    left: 53%;
}