*{
  padding: 0;
  margin: 0px;
  box-sizing: border-box;
}

.header{
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
  color: white;
}

.body{
  display: flex;
  height: 700px;
}

.sidebar{
  width: 400px;
  background-color: aqua;
  height: 400px;
  margin-top: 40px;
}

.content{
  background-color: rgb(216, 198, 151);
  color: white;
  flex:1 ;
  padding: 50px;
}

.sidebar-violet{
  background-color: violet;
  width: 200px;

  height: 100%;
}

.footer{
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
  color: white;
}

input{
  height: 44px;
  width: 220px;
  border: 4px solid red;
}

.heading{
  background-color: red;
  color: white;
  height: 400px;
  width: 400px;
}

.button{
  border: none;

  padding: 10px 40px;
  border-radius: 6px;
  margin: 20px;
  color: white;
}