*{
  padding: 0;
  margin: 0px;
  box-sizing: border-box;
}

.navbar{
  background-color: green;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content{
  margin-top: 10px;
  display: flex;
}

.content-left,.content-right{
  width: 300px;
}

.sidebar{
  background-color: green;
  height: 300px;
  margin-bottom: 10px;
}

.content-center{
  flex: 1;
  background-color: green;
  margin: 0 10px;
}

